@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #8C0303;
    --secondary-color: #590202;
    --tertiary-color: #260101;
    --bg-color: #F2F2F2;
    --bg-body-color: #F9F9F9;
    --font-light-color: #FFFFFF;

    --font-text: 'Inter', sans-serif;
    font-size: 62.5%;
}

body {
    background-color: var(--bg-body-color);
    font-family: var(--font-text);
    font-size: 1.6rem;
    color: var(--tertiary-color);
}

header {
    padding: 0 0 0 5rem;
    height: 10rem;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
}

#logo {
    width: 10rem;
}

header nav {
    display: flex;
    gap: 5rem;
    align-items: center;
}

header nav ul {
    display: flex;
    gap: 5rem;
    list-style-type: none;
}

header nav ul li a {
    text-decoration: none;
    color: var(--font-light-color);
}

header nav ul li a:hover {
    font-weight: bold;
}

/* Barra de pesquisa */
.pesquisa {
    display: flex;
}

.pesquisa input {
    width: 20rem;
    height: 4rem;
    padding: 0 2.3rem;
    border: none;
    border-radius: 8px;
    font-family: var(--font-text);
}

.pesquisa input:focus{
    outline: none;
}

.pesquisa button {
    width: 5rem;
    position: relative;
    left: -5rem;
    border-radius: 0 8px 8px 0;
    border: none;
    background-color: var(--secondary-color);
    cursor: pointer;
}

.pesquisa button:hover {
    background-color: var(--tertiary-color);
}

main {
    padding: 2.2rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 2.2rem;
}

/* Slider */
.slider{
    overflow: hidden;
}

.slider > .slider-content{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    transition: all 500ms ease;
}

.slider > .slider-content > .slider-item {
    flex: 0 0 auto;
    width: 100%;
    max-height: 78rem;
    overflow: hidden;
}

.slider > .slider-content > .slider-item img {
    width: 100%;
}

.slider > input:nth-child(1):checked ~ .slider-content{
    transform: translateX(0%);
}

.slider > input:nth-child(2):checked ~ .slider-content{
    transform: translateX(-100%);
}
.slider > input:nth-child(3):checked ~ .slider-content{
    transform: translateX(-200%);
}

.slider > input:nth-child(4):checked ~ .slider-content{
    transform: translateX(-300%);
}

.info1 {
    display: grid;
    gap: 1rem;
    grid-template-columns: 2fr 1fr;   
}

.destaque {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.social {
    display: flex;
    flex-direction: column;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.conheca-tambem {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
}

.melhores {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.title {
    height: 6rem;
    background-color: var(--primary-color);
    font-weight: 700;
    font-size: 2rem;
    line-height: 4.4rem;
    color: var(--font-light-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px 5px 0 0;
}

.destaque .destaque-container {
    background-color: var(--bg-color);
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
}

.destaque .destaque-container h3 {
    max-width: 47.4rem;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.8rem;
    text-align: center;
    margin: auto;
}

.wrapper-conteudo {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    align-items: center;
}

.wrapper-conteudo img {
    max-width: 20rem;
}

.wrapper-conteudo p {
    font-size: 1.5rem;
    text-align: justify;
}

.social-container {
    padding: 2rem;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    height: 100%;
}

.social-container iframe {
    height: 100%;
    width: 100%;
}

.social-container a {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 3.1rem;
    color: inherit;
}

.conheca-container {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    background-color: var(--bg-color);
}

.wrapper-vinho {
    max-width: 21rem;
    min-height: 28rem;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 3rem;
    border: 1px solid var(--secondary-color);
}

.wrapper-vinho a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 3rem;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.8rem;
    text-align: center;
    color: inherit;
    text-decoration: none;
}

.melhores-container {
    background-color: var(--bg-color);
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.melhores-container ul {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    font-weight: 400;
    line-height: 5rem;
    color: var(--secondary-color);
}

.melhores-container a {
    text-decoration: none;
    color: inherit;
}

.posts {
    display: flex;
    gap: 3rem;
    justify-content: space-between;
}

.post-container {
    padding: 3rem;
    max-width: 40rem;
    min-height: 32rem;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.post-container h2 {
    text-align: center;
}

.post-container p {
    font-size: 1.5rem;
    text-align: justify;
}

.post-container a {
    color: inherit;
}

form {
    background-color: var(--bg-color);
    padding: 2.5rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

form div {
    display: flex;
    gap: 1rem;
}

form input, form textarea {
    padding: 1rem 2rem;
    font-family: var(--font-text);
    background-color: #FFFDFD;
    border: none;
    border-radius: 8px;
}

form input {
    width: 100%;
    height: 4rem;
}

form input[type=checkbox] {
    width: 2rem;
    height: 2rem;
}

form button {
    margin: auto;
    padding: 1.7rem;
    width: 15rem;
    border-radius: 8px;
    border: none;
    background-color: var(--secondary-color);
    text-align: center;
    color: var(--font-light-color);
    cursor: pointer;
}

form button:hover {
    background-color: var(--tertiary-color);
}

.avaliacoes-container {
    background-color: var(--bg-color);
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.avaliacoes-wrapper {
    width: 100%;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}

.avaliacao-conteudo {
    max-width: 36rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.avl-header {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.avl-header span {
    font-weight: 700;
    font-size: 2.3rem;
}

.data {
    text-align: right;
}

.classificacao {
    margin: auto;
}

.avaliacoes-container button {
    margin-top: 2rem;
    padding: 1rem;
    background-color: var(--secondary-color);
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2.7rem;
    color: var(--font-light-color);
    display: flex;
    gap: 1rem;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
}

.avaliacoes-container button:hover {
    background-color: var(--tertiary-color);
}